/* body{ */
/* 	background-color: #fffdbc;} */
body{
	=
/* 	border: 15px solid #6219ff; */
	background-color:#fffdbc;
	font-family: 'Lato', sans-serif;
}

p{
	font-family: 'Neucha', cursive;
	margin-left: 1.66%;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 3px solid #F1F1F1F1;
	width: 30%;
	padding-bottom: 20px;
	
	}

img{
	
	width: 25%;
	padding: 0;
	margin: 1.66%;
	float: left;
	border: 1px solid black;
	
	}

.frame{
	width=100%;
	margin-left: 10%;
	background-color: white;
	}

#logo{
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.55);
	font-family: 'Copse', serif;
}

#fillcolor{
	background-color: #fffdbc ;
}

