/* body{ */
/* 	background-color: #fffdbc;} */
/* body{ */
	
/* 	border: 15px solid #6219ff; */
/* 	background-color:#fffdbc;
	font-family: 'Lato', sans-serif;
} */

body{
	width: 90%;
	margin-left: 5%;
	border: 15px solid #6219ff;
	background-color:#fffdbc;
	font-family: 'Lato', sans-serif;
}

img{
	width: 25%;
	padding: 0;
	margin: 1.66%;
	border: 1px solid black;
	}

.frame{
	background-color: white;
	padding-left: 12%;
	
	}

#logo{
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.55);
	font-family: 'Copse', serif;
}

#fillcolor{
	background-color: #fffdbc ;
	margin-left:5%;
}
