#logo{
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.55);
	font-family: 'Copse', serif;
}

body{
	background-color: #fffdbc;
	width: 90%;
	margin-left: 5%;
	border: 15px solid #6219ff;
	font-family: 'Lato', sans-serif;

}

.jumbotron{
	margin-bottom: 0;
/* 	background-color: white */
	background: url("https://s3.us-east-2.amazonaws.com/messiejessiecrafts/backgroundFlowers.jpg") ;
	background-size: cover;
	background-blend-mode: lighten;
	color: white;
	/*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}