#logo{
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.55);
	font-family: 'Copse', serif;
}

body{
/* 	background-color: #fffdbc; */
	width: 90%;
	margin-left: 5%;
	border: 15px solid #6219ff;
	background-color:#fffdbc;
	font-family: 'Lato', sans-serif;
	

}