#logo{
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.55);
	font-family: 'Copse', serif;
}

body{
	background-color: #fffdbc;
	width: 90%;
	margin-left: 5%;
	border: 15px solid #6219ff;
	font-family: 'Lato', sans-serif;

}

.jumbotron{
	margin-bottom: 0;
/* 	background-color: white */
	background: url("https://static.rootsrated.com/image/upload/s--dOztdKo4--/t_rr_large_traditional/xeeqiz2egntxuc7u5mce.jpg");
}